.searchbar{
    max-width:10rem;
    padding: 0.5rem;
    font-size: smaller;
    font-weight: 300;
    background-color:transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:0.5px solid rgba(0, 0, 0, 0.5);
    caret-color:black;
    outline:none;
}

.searchbar::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: smaller;
    font-weight: 300;
    text-align: center;
}
.searchbar:hover{
    border-bottom: 1px solid black;
    transition: border 0.5s ease-in-out;
}
.searchbar:hover::placeholder{
    color:rgba(0, 0, 0, 0.89);
    transition: color 0.5s ease-in-out;
}

.searchbar:focus{
    border-bottom: 1px solid black;
    transition: border 0.3s ease-in-out;
}
.searchbar:focus::placeholder{
    color:rgba(0, 0, 0, 0.89);
    transition: color 0.3s ease-in-out;
}
@media screen and (max-width: 450px) {
    .searchbar{
        display: none;
    }
  }