.prodcard-container {
  position: relative;
  margin-top: 20px;
  max-width: 250px;
  min-width: 200px; 
  border-radius: 12px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: left;
}
.prodcard-infoholder {
  margin: 10px;
}
.prodcard-container > .prodcard-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.prodcard-clr {
  display: inline-block;
  margin: 2px;
  border-radius: 50%;
}

.prodcard-name {
  font-weight: 700;
}

.prodcard-des {
  font-size: smaller;
}

.prodcard-icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  margin: 6px;
  top: 0;
  right: 0;
}
.prodcard-category {
  font-size: smaller;
  font-weight: 300;
  background-color: black;
  border-radius: 30px;
  padding: 6px 12px;
  color: white;
}
.prodcard-icon-div {
  /* width: 50px;
    height: 50px;
    display: flex;
    justify-items: center;
    align-self: center;
    background-color: black; */
  margin: 0px 6px;
}

.prodcard-icon {
  color: white;
  cursor: pointer;
}
.prodcard-container:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.prodcard-button{
  width: 100%;
}
