.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40px;
}
.auth-form > input{
    margin: 12px;
    padding: 6px;
    border: 1px solid grey;
    border-radius: 6px;
}
.auth-heading{
    margin: 6px;
}
.auth-dropdown{
    margin: 10px;
    padding-bottom: 10px;
}
.auth-btn{
    width: 90%;
}