.address-main{
    text-align: left;
    margin: 20px;
}

.address-container > p{
    font-size: smaller;
}
.address-btn{
    padding: 20px 0;
}
.address-btn:hover{
    color:grey;
    transition: color 0.2s ease-in-out;
}
.address-icons{
    font-size: larger;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address-icon-dlt:hover{
    color: red;
    transition: color 0.2s ease-in-out;
}
.address-icon-edit:hover{
    color: grey;
    transition: color 0.2s ease-in-out;
}