.cart-container {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(2, 1fr);
}
.cart-items {
    display: flex;
   justify-content: center;
    height: 70vh;
    overflow-y: auto;

}
.cart-detail {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 900px) {
  .cart-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
  }
  .cart-items {
    height: 50vh;
  }
}
