.cart-container {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.cart-items {
  max-height: 70vh;
  margin-right: 20px;
  padding: 0 10px;
  overflow-y: auto;
}
.cart-heading {
  margin-top: 10px;
}
.cart-detail {
/***/
}

@media screen and (max-width: 900px) {
  .cart-container {
    flex-direction: column;
    align-items: center;
  }
  .cart-items {
    max-height: 40vh;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
}
